{% extends 'bootstrap3/bootstrap3.html' %}
{% block bootstrap3_title %}
电影搜索
{% endblock %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


{% block bootstrap3_content %}
<h1 class="text-center"> 电影搜索 </h1>
{% bootstrap_messages %}
<div class="text-center">
<form class="form-inline" method="GET" action="{% url 'movie_list' %}">
  <div class="form-group">
    <label for="exampleInputName2">电源名称</label>
    <input name="q" type="text" class="form-control"
           id="exampleInputName2"
           placeholder="{{ q }}">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>
</div>
<table class="table table-bordered">
  <tr>
    <th>编号</th>
    <th>电影名</th>
    <!--
    <th>导演</th>
    <th>演员</th>
       -->
    <th>来源</th>
    <th>更新时间</th>
    <th>下载地址</th>
  </tr>
  <tr>
    {% for res in movie_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{{ res.url }}">{{ res.movie.name }}</a></td>
    <!--
    <td>{{ res.movie.director|default_if_none:'' }}</td>
    <td>{{ res.movie.starring|default_if_none:'' }}
      -->
    <td>{{ res.get_source_display }}</td>
    {% load tz %}
    {% localtime on %}
    <td>{{ res.update_at|date:'Y-m-d H:i' }} </td>
    {% endlocaltime %}
    <td>
      {% for href in res.down_urls %}
      <a class="down-url" data-zclip-text="{{ href }}" href="javascript:void(0)"> {{ forloop.counter }} </a>
      {% endfor %}
    </td>
    {% endfor %}
    </tr>
  </tr>
</table>
{% if is_paginated %}
<div class="pagination col-md-6 col-md-offset-10">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'movie_list' %}?page={{ page_obj.previous_page_number }}&q={{ q }}">
      <span> prev</span>
    </a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'movie_list' %}?page={{ page_obj.next_page_number }}&q={{ q }}">
      <span> next</span>
    </a>
    {% endif %}
  </span>
</div>
{% endif %}
{% load staticfiles %}
<script src="//7xnnj6.com1.z0.glb.clouddn.com/js-jquery.min.js"></script>
<script src={% static "js/jquery.zeroclipboard.js" %}></script>
<script src={% static "js/movie_list.js" %}></script>

{% endblock %}
