{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<h1 class="text-center"> 电影资源 </h1>
<div class="text-center">
<form class="form-inline" method="GET" action="{% url 'movie_list' %}">
  <div class="form-group">
    <label for="exampleInputName2">电源名称</label>
    <input name="q" type="text" class="form-control" id="exampleInputName2" placeholder="三国">
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>
</div>
<table class="table table-bordered">
  <tr>
    <th>编号</th>
    <th>名称</th>
    <th>来源</th>
    <th>网址</th>
    <th>下载地址</th>
  </tr>
  <tr>
    {% for res in movie_list %}
    <tr>
    <td> {{ forloop.counter }} </td>
    <td>{{  res.movie.name }}</td>
    <td>{{ res.source }}</td>
    <td>{{  res.url }}</td>
    <td>
      {% for href in res.download_urls %}
      <a href="{{ href }}"> {{ forloop.counter }} </a>
      {% endfor %}
    </td>
    {% endfor %}
    </tr>
  </tr>
</table>
{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'movie_list' %}?page={{ page_obj.previous_page_number }}">
      <span> prev</span>
    </a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'movie_list' %}?page={{ page_obj.next_page_number }}">
      <span> next</span>
    </a>
    {% endif %}
  </span>
</div>
{% endif %}
